@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body{
    font-family: 'Open Sans';
}

h2{
    color: #333;
    font: 700 2rem/2.625rem "Open Sans", sans-serif;
    letter-spacing: -0.2px;   
}

h3{
    color: #333;
    font: 700 1.625rem/2.125rem "Open Sans", sans-serif;
    letter-spacing: -0.2px;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #5f4dee;
    padding: 0.3rem 3rem 0.3rem 3rem;
    position: fixed;
    width: 100%;
    z-index: 101;
}

.header .right ul{
    display: flex;
    align-items: center;
    position: relative;
}

.header .right ul li{
    position: relative;
}

.header .right ul a{
    color: white;
    margin-left: 25px;
    font-size: 16px;
    font-weight: 700;
}

.header .right ul button{
    padding: 9px 25px;
    border-radius: 30px;
    transition: all 0.2s;
    margin: 15px;
    display: flex;
    align-items: center;
    border: none;
    background: white;
    color: #5f4dee;
    cursor: pointer;
}

.header .right ul li ul{
    display: none;
    flex-direction: column;
    background: white;
    width: 150px;
    top: 30px;
    left: 23px;
    position: absolute;
}

.header .right ul li ul li{
    width: 100%;
    padding: 10px 20px;

}

.header .right ul li ul li a{
    color: #333;
}

.header .right ul button:hover{
    background: #5f4dee;
    border: 1px solid white;
    color: white;
}

.header .right ul li:hover ul{
    display: flex;
}

.header .left img{
    width: 70px;
    height: 70px;
    cursor: pointer;
}

/* Section 1 */

.sec1{
    width: 100%;
    background: #5f4dee;
    padding: 10.25rem 0 2.25rem 0;
}

.sec1 .container{
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

.sec1 .container .left{
    width: 41%;
}

.sec1 .container .right{
    width: 50%;
}

.sec1 .container .right img{
    width: 600px;
}

.sec1 .container .left h1{
    font-size: 56px;
    color: white;
    font-weight: 700;
}

.sec1 .container .left p{
    font-size: 18px;
    font-weight: 600;
    padding-top: 1rem;
    color: white;
}

.sec1 .container .left button{
    padding: 15px 30px;
    border-radius: 30px;
    width: 150px;
    margin-top: 2rem;
    font-size: 14px;
    color: #5f4dee;
    background: white;
    border: none;
    cursor: pointer;
    transition: all 0.2s;
}

.sec1 .container .left button:hover{
    transition: all 0.2s;
    background: #5f4dee;
    color: white;
    border: 1px solid white;
}


@media screen and (max-width: 1200px){
    .sec1 .container{
        flex-direction: column;
        width: 100%;
    }

    .sec1 .container .left{
        width: 90%;
        text-align: center;
    }

    .sec1 .container .right{
        width: 90%;
        text-align: center;
        margin-top: 4em;
    }

    .sec1 .container .right img{
        width: 90%;
    }

    .sec1 .container .left button{
        width: 70%;
    }
}

@media screen and (max-width: 600px){
    .header .right{
        display: none;
    }
}

/* Partenaires */

.partenaire{
    padding: 3.25rem 0;
    width: 100%;
}

.partenaire .container{
    max-width: 1115px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    flex-wrap: wrap;

}

.partenaire .container img{
    cursor: pointer;
    margin: 15px;
}


@media screen and (max-width: 1100px){
    .partenaire .container {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

/* Section 2 */

.sec2{
    width: 100%;
    padding: 5rem 0;
}

.sec2 .container{
    max-width: 1110px;
    margin: 0 auto;
    padding: 0 10px;
}

.sec2 .container .title{
    text-align: center;
}

.sec2 .container .title p{
    color: #5f4dee;
    font: 700 0.75rem/0.875rem "Open Sans", sans-serif;
}

.sec2 .container .title h2{
    padding-top: 0.2rem;
    color: #333;
    font: 700 2rem/2.625rem "Open Sans", sans-serif;
    letter-spacing: -0.2px;   
}

.sec2 .container .content{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 2.5rem;
    text-align: center;
}

.sec2 .container .content img{
    width: 200px;
}


.sec2 .container .content h4{
    color: #333;
    font: 700 1.375rem/1.75rem "Open Sans", sans-serif;
    letter-spacing: -0.1px;
    margin-top: 2rem;
}

.sec2 .container .content p{
    color: #555;
    font: 400 1rem/1.625rem "Open Sans", sans-serif;
    margin-top: 0.5rem;
    width: 300px;
}


@media screen and (max-width: 1000px){
    .sec2 .container{
        width: 100%;
        padding: 0 10px;
    }

    .sec2 .container .content{
        width: 100%;
        flex-direction: column;
        padding: 0 10px;
    }

    .sec2 .container .title{
        width: 90%;
        margin: 0 auto;
    }

    .sec2 .container .content .party{
        margin-bottom: 3rem;
    }

    .sec2 .container .content p{
        width: 100%;
    }
}

/* Section 3 */

.sec3{
    width: 100%;
    background: #f3f7fd;
    padding: 6.25rem 0;
}

.sec3 .container{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 10px;
}

.sec3 .container .title{
    text-align: center;
}

.sec3 .container .title p{
    color: #5f4dee;
    font: 700 0.75rem/0.875rem "Open Sans", sans-serif;
}

.sec3 .container .title h2{
    padding-top: 0.2rem;
    color: #333;
    font: 700 2rem/2.625rem "Open Sans", sans-serif;
    letter-spacing: -0.2px;   
}

.sec3 .container .title .para{
    opacity: .9;
    font-size: 16px;
    width: 65%;
    margin: 0 auto;
    line-height: 1.5rem;
    color: #555;
    padding-top: 0.5rem;
}

.sec3 .onglets{
    margin-top: 4em;
    width: 100%;
    text-align: center;
}

.sec3 .onglets ul{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sec3 .onglets ul a{
    padding: 10px 15px;
    color: #555;
    font-size: 20px;
    border-bottom: 1px solid #555;
}

.sec3 .onglets ul .active{
    color: #5f4dee;
    border-color: #5f4dee;
}

.sec3 .onglets ul i{
    padding-right: 5px;
}

.sec3 .content{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 3em;
}

.sec3 .content .left{
    width: 50%;
}

.sec3 .container .left img{
    width: 500px;
}

.sec3 .content .right{
    width: 50%;
    margin-left: 30px;
}

.sec3 .content .right h3{
    color: #333;
    font: 700 1.625rem/2.125rem "Open Sans", sans-serif;
    letter-spacing: -0.2px;
}

.sec3 .content .right p{
    color: #555;
    font: 400 1rem/1.625rem "Open Sans", sans-serif;
    width: 85%;
    padding: 0.5rem 0;
}

.sec3 .content .right ul li{
    padding: 0.5rem 0;
}

.sec3 .content button{
    padding: 15px 30px;
    border-radius: 30px;
    width: 150px;
    margin-top: 2rem;
    font-size: 14px;
    color: #5f4dee;
    background: white;
    border: none;
    cursor: pointer;
    transition: all 0.2s;
}

.sec3 .content .right button:hover{
    transition: all 0.2s;
    background: #5f4dee;
    color: white;
    border: 1px solid white;
}


@media screen and (max-width: 1000px){ 
    .sec3 .container{
        width: 100%;
    }
    
    .sec3 .onglets ul{
        flex-direction: column;
    }

    .sec3 .onglets ul li{
        margin-bottom: 0.5rem;
    }

    .sec3 .onglets ul a{
        border: none;
    }

    .sec3 .content{
        flex-direction: column;
        width: 100%;
    }

    .sec3 .content .left{
        width: 100%;
        text-align: center;
    }

    .sec3 .content .right p{
        width: 90%;
    }

    .sec3 .content .left img{
        width: 90%;
    }

    .sec3 .content .right{
        width: 100%;
        margin-top: 3rem;
    }

    .sec3 .content .right ul li{
        padding: 0.5rem 0;
    }
}

/* Section 4 */

.sec4{
    width: 100%;
    padding: 5.25rem 0;
    background: white
}

.sec4 .container{
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

.sec4 .container .left{
    width: 50%;
    padding: 0 10px;
}

.sec4 .container .left p{
    width: 500px;
    line-height: 25px;
    padding: 1rem 0;
}

.sec4 .container .left ul li{
    padding-bottom: 0.5rem;
}

.sec4 .container .left button{
        padding: 15px 30px;
        border-radius: 30px;
        width: 150px;
        margin-top: 2rem;
        font-size: 14px;
        color: white;
        background: #5f4dee;
        border: none;
        cursor: pointer;
}

.sec4 .container .right img{
    width: 500px;
}

.sec4 .container .right {
    width: 50%;
    padding: 0 10px;
}


@media screen and (max-width: 1000px){
    .sec4 .container{
        flex-direction: column;
        width: 100%;
    }

    .sec4 .container .left{
        width: 90%;
    }

    .sec4 .container .right{
        width: 90%;
        margin-top: 3em;
        text-align: center;
    }

    .sec4 .container .left p{
        width: 90%;
    }

    .sec4 .container .right img{
        width: 90%;
    }
}

/* Section 5 */

.sec5{
    width: 100%;
    padding: 8rem 0;
    background: #f3f7fd;
}

.sec5 .container{
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 10px;
}

.sec5 .container img{
    width: 75%;
    border-radius: 10px;
}

.sec5 .container p{
    margin-top: 3em;
    width: 65%;
    text-align: center;
}

@media screen and (max-width: 1000px){
    .sec5 .container{
        width: 100%;
        flex-direction: column;
    }

    .sec5 .container p{
        width: 100%;
    }

    .sec5 .container img{
        width: 90%;
        text-align: center;
    }
}


/* Section 6 */

.sec6{
    width: 100%;
    padding: 6.25rem 0;
}

.sec6 .container {
    padding: 0 10px;
    max-width: 1140px;
    margin: 0 auto;
}

.sec6 .container .title{
    text-align: center;
}

.sec6 .container .title p{
    color: #5f4dee;
    font: 700 0.75rem/0.875rem "Open Sans", sans-serif;
}

.sec6 .container .title h2{
    padding-top: 0.2rem;
    color: #333;
    font: 700 2rem/2.625rem "Open Sans", sans-serif;
    letter-spacing: -0.2px;   
}

.sec6 .container .content{
    margin-top: 4em;
    display: flex;
    text-align: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.sec6 .container .content .card{
    padding: 2.25rem;
    border: 1px solid #333;
    border-radius: 10px;
    width: 330px;
    margin: 10px;
    height: auto;
}

.sec6 .content .card .title-mode{
    margin-bottom: 0.5rem;
    color: #5f4dee;
    font: 700 1.125rem/1.5rem "Open Sans", sans-serif;
}

.sec6 .content .card .price{
    display: flex;
    align-items: center;
    justify-content: center;
}


.sec6 .content .card .dollar{
    color: #434c54;
    font-weight: 700;
    font-size: 1.5rem;
}

.sec6 .container .card .value{
    color: #434c54;
    font: 700 3.25rem/3.5rem "Open Sans", sans-serif;
    text-align: center;
}

.sec6 .content .card .duration{
    font-size: 0.875rem;
}

.sec6 .content .card .diviser{
    width: 100%;
    height: 1px;
    background-color: black;
    margin-top: 1.75rem;
    margin-bottom: 2rem;
}

.sec6 .content .card ul{
    text-align: left;
    margin-top: 1.875rem;
    margin-bottom: 1.625rem;
}

.sec6 .content .card ul li{
    margin-bottom: 0.5rem;
}

.sec6 .container .content button{
    padding: 15px 30px;
    border-radius: 30px;
    width: 150px;
    margin-top: 2rem;
    font-size: 14px;
    color: white;
    background: #5f4dee;
    border: none;
    cursor: pointer;
    transition: all 0.2s;
}

.sec6 .container .content button:hover{
    transition: all 0.2s;
    background: white;
    color: #5f4dee;
    border: 1px solid #5f4dee;
}


@media screen and (max-width: 1100px){
    .sec6 .container{
        width: 100%;
    }

    .sec6 .container .title{
        width: 100%;
    }

    .sec6 .container .content {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .sec6 .container .content .card{
        margin-top: 1rem;
    }
}

/* Section 7 */

.sec7{
    width: 100%;
    padding-top: 2.5rem;
    padding-bottom: 4rem;
}

.sec7 .container{
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 10px;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
}

.sec7 .container .suivant,
.sec7 .container .precedent{
    font-size: 50px;
    cursor: pointer;
}

.sec7 .container .content .left img{
    border-radius: 50%;
    width: 100%;
}

.sec7 .container .content{
    display: flex;
    align-items: center;
    margin: 0 30px;
}

.sec7 .container .content .left{
    margin: 0 25px;
}

.sec7 .container .content .right{
    width: 70%;
}

.sec7 .container .content h2{
    font-size: 16px;
    padding-top: 0.5rem;
}



@media screen and (max-width: 1000px){
    .sec7 .container .content{
        flex-direction: column;
        text-align: center;
    }

    .sec7 .content .right{
        margin-top: 0.5rem;
    }

    .sec7 .container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}


/* Section 8 */

.sec8{
    width: 100%;
    padding: 3rem 0;
}

.sec8 .container{
    max-width: 1140px;
    margin: 0 auto;
    background: #F3F7FD;
    padding: 3.25rem 0;
    border-radius: 5px;
    text-align: center;
}

.sec8 .container .title{
    text-align: center;
}


.sec8 .container .title p{
    color: #5f4dee;
    font: 700 0.75rem/0.875rem "Open Sans", sans-serif;
}

.sec8 .container .title h2{
    padding-top: 0.2rem;
    color: #333;
    font: 700 2rem/2.625rem "Open Sans", sans-serif;
    letter-spacing: -0.2px;   
}

.sec8 .container .form{
    margin: 2.5em auto 0 auto;
    width: 480px;
}

.sec8 .container .form .email{
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #5f4dee;
    padding: 0 20px;
    outline: none;
}

.sec8 .container .form .term{
    text-align: left;
    font-size: 12px;
    opacity: .8;
    padding-top: 0.4rem;
}

.sec8 .container .form .check{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 1rem;
}

.sec8 .container .form .check p{
    font-size: 13px;
    opacity: .8;
    margin-left: 10px;
}

.sec8 .container .form button{
    width: 100%;
    background-color: #5f4dee;
    color: white;
    margin-top: 1.5rem;
    height: 50px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    outline: none;
}

.icon-content{
    width: 100%;
    padding: 2.25rem 0;
}

.icon-content .container{
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 1%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-content .container .bulle{
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    background: #5f4dee;
}

.icon-content .container .bulle .fab{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 25px;
}

.icon-content .container .bulle:hover{
    transition: all 0.2s;
    background: #F3F7FD;
}

.icon-content .container .bulle:hover .fab{
    color: #5f4dee;
    transition: all 0.2s;
}

@media screen and (max-width: 600px){
    .sec8 .container{
        width: 100%;
    }

    .sec8 .container .title{
        width: 100%;
    }

    .sec8 .container .form{
        width: 90%;
    }
}


/* Footer */

footer{
    width: 100%;
    padding: 6.25rem 0;
    background-color: #5f4dee;
}

footer .container{
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer .container .info{
    width: 33.33%;
    padding: 0 20px;
}

footer .container .info h4{
    color: white;
    font-size: 22px;
    margin-bottom: 0.7rem;
}

footer .container .info p,
footer .container .info li{
    font-size: 14px;
    color: white;
    padding-bottom: 0.3rem;
}

footer .container .info .lieu{
    display: flex;
    align-items: center;
    margin-top: 0.3rem;
    font-size: 14px;
    color: white;
}

footer .container .info .lieu .first{
    margin-right: 20px;
}

footer .informations{
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 10px;
}

footer .informations .ligne{
    background: black;
    color: black;
    height: 2px;
    width: 100%;
    margin-top: 3em;
}

footer .informations p{
    color: white;
    padding-top: 1.5rem;
    text-align: center;
    font-size: 16px;
}


@media screen and (max-width: 800px){
    footer .container{
        flex-direction: column;
        width: 100%;
    }

    footer .container .info{
        text-align: left;
        width: 100%;
        margin-bottom: 1.5rem;
    }

    footer .container .info p,
    footer .container .info li{
        width: 70%;
    }

    footer .informations{
        width: 90%;
    }
}